<div class="wrapper" *ngIf="actions">
    <button class="buttonek" mat-icon-button (click)="$event.stopPropagation()" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
</div>
<mat-menu #menu="matMenu">
  <ng-container *ngFor="let action of actions">
    <button mat-menu-item (click)="onClick(action)">
      <mat-icon color="primary">{{action.icon}}</mat-icon>
      <span>{{action.label}}</span>
    </button>
  </ng-container>
</mat-menu>
