@import '../../../../../styles/variables.scss';

.politician-card {
  width: $card-width;

  &__image {
    display: block !important;
    max-height: 15rem !important;
  }

  &__media {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;

    img {
      width: 3rem;
      transition: all 0.5s;
      border-radius: 25%;

      &:hover {
        scale: 1.1;
      }
    }
  }
}
