@import '../../../../../styles/variables.scss';

.politician-card {

  &__media {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;

    img {
      width: 3.5rem;
      transition: all .5s;
      border-radius: 25%;

      &:hover {
        scale: 1.1;
      }
    }
  }
}
