<ng-container *ngIf="politician">
  <mat-card class="politician-card mat-elevation-z4">
    <mat-card-header>
      <mat-card-title>{{politician.fullName}}</mat-card-title>
      <mat-card-subtitle>{{politician.birthDate | dateFormatter}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/man-user-svgrepo-com.svg">
    <mat-divider></mat-divider>
    <mat-card-content class="politician-card__media">
      <a *ngIf="politician.facebookUrl" [href]="politician.facebookUrl" target="_blank">
        <img class="mat-elevation-z4" src="assets/icons/facebook.svg" aria-label="redirect to facebook profile of politic" alt="redirect to facebook profile of politic">
      </a>
      <a *ngIf="politician.instagramUrl" [href]="politician.instagramUrl" target="_blank">
        <img class="mat-elevation-z4" src="assets/icons/instagram.svg" aria-label="redirect to instagram profile of politic" alt="redirect to instagram profile of politic">
      </a>
      <a *ngIf="politician.twitterUrl" [href]="politician.twitterUrl" target="_blank">
        <img class="mat-elevation-z4" src="assets/icons/twitter.svg" aria-label="redirect to twitter profile of politic" alt="redirect to twitter profile of politic">
      </a>
    </mat-card-content>
  </mat-card>
</ng-container>
