@import '../../../../../styles/variables.scss';

.politician-card {

  &__media {
    display: flex;
    justify-content: space-evenly;

    img {
      width: 3rem;
      transition: all .5s;
      border-radius: 25%;

      &:hover {
        scale: 1.1;
      }
    }
  }
}
