<mat-sidenav-container class="sidenav-container">
  <mat-sidenav [opened]="mobileQuery.matches ? false : true"
    #snav
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches">
    <mat-nav-list>
      <mat-list-item *ngFor="let party of partiesAndLogos">
        <img matListAvatar [src]="party.img" class="party-icon">
        <span>{{party.name}}</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
