<mat-sidenav-container autosize class="sidenav-container">
  <mat-sidenav
    [autoFocus]="false"
    [opened]="!mobileQuery.matches"
    #snav
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="true">
    <div class="politi">
      <span>Politi.cz</span>
    </div>
    <mat-nav-list>
      <div mat-subheader
        ><b>{{ 'sections' | translate }}</b></div
      >
      <mat-list-item (click)="closeSidenavIfMatches()" class="navitem" routerLink="'/home'">
        <mat-icon color="primary">home</mat-icon>
        <span>{{ 'sidenav-home' | translate }}</span>
      </mat-list-item>
    </mat-nav-list>
    <mat-nav-list>
      <div mat-subheader
        ><b>{{ 'parties' | translate }}</b></div
      >
      <div class="search">
        <mat-form-field class="search__input">
          <mat-label>{{ 'sidenav-search' | translate }}</mat-label>
          <input type="text" #input matInput />
          <mat-icon color="primary" matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <mat-list-item
        (click)="navigateToPoliticalPartyPage(party.id!)"
        *ngFor="let party of (sidenavParties$ | async)! | filterParties : input.value">
        <div class="party">
          <div class="party__logo-container">
            <img [src]="party.imageUrl" alt="party icon" class="party-icon" />
          </div>
          <div matTooltipPosition="after" [matTooltip]="party.name" class="party__name">{{
            party.name
          }}</div>
          <app-party-actions
            class="party__actions"
            [partyId]="party.id!"
            [disableTooltip]="true"></app-party-actions>
        </div>
      </mat-list-item>
      <mat-list-item *ngIf="(partiesCount | async) === 0">
        <span class="no-result">{{ 'no-result' | translate }}</span>
      </mat-list-item>
    </mat-nav-list>
    <div class="add-party">
      <button
        [matTooltip]="'admin-party-add' | translate"
        (click)="closeSidenavIfMatches()"
        mat-mini-fab
        color="primary"
        routerLink="/political-party/add">
        <span>+</span>
      </button>
    </div>

    <span
      (click)="toggleSidenav()"
      class="sidenav__close"
      [ngClass]="{ sidenav__close: mobileQuery.matches, hidden: !mobileQuery.matches }">
      <mat-icon>arrow_back_ios_new</mat-icon>
    </span>
  </mat-sidenav>

  <mat-sidenav-content role="main">
    <app-navbar></app-navbar>
    <router-outlet #outlet (activate)="onActivate($event, outlet)"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
