<form class="form-content" [formGroup]="partyForm" (ngSubmit)="submit()">
  <mat-form-field class="span-12" appearance="outline">
    <mat-label>{{ 'party-name' | translate }}</mat-label>
    <input matInput formControlName="name" />
    <mat-error>{{ 'form-required' | translate }}</mat-error>
  </mat-form-field>
  <mat-form-field class="span-12" appearance="outline">
    <mat-label>{{ 'party-image' | translate }}</mat-label>
    <input matInput formControlName="imageUrl" />
    <mat-error *ngIf="partyForm.controls.imageUrl.hasError('required')">{{
      'form-required' | translate
    }}</mat-error>
    <mat-error *ngIf="partyForm.controls.imageUrl.hasError('pattern')">{{
      'form-bad-url-pattern' | translate
    }}</mat-error>
  </mat-form-field>
  <mat-form-field class="span-12" appearance="outline">
    <mat-label>{{ 'party-tags' | translate }}</mat-label>
    <mat-chip-grid #chipGrid formControlName="tags">
      <mat-chip-row
        *ngFor="let tag of tags"
        (removed)="removeTag(tag)"
        [editable]="true"
        (edited)="editTag(tag, $event)">
        {{ tag }}
        <button matChipRemove [attr.aria-label]="'remove ' + tag">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
      <input
        [placeholder]="'party-tag-placeholder' | translate"
        [matChipInputFor]="chipGrid"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="addTag($event)" />
    </mat-chip-grid>
    <mat-hint>{{ 'chips-hint' | translate }}</mat-hint>
    <mat-error>{{ 'chips-required' | translate }}</mat-error>
  </mat-form-field>
  <ng-container *ngIf="!party" formArrayName="politicians">
    <h2 class="span-12">{{ 'politician-add' | translate }}</h2>
    <ng-container
      *ngFor="let politicianForm of politiciansFormArray?.controls; let i = index"
      [formGroupName]="i">
      <h3 class="span-12 politician-number">{{ i + 1 + '. ' }} {{ 'politician' | translate }}</h3>
      <mat-form-field class="span-6" appearance="outline">
        <mat-label>{{ 'politician-name' | translate }}</mat-label>
        <input matInput formControlName="fullName" />
        <mat-error>{{ 'form-required' | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field class="span-6" appearance="outline">
        <mat-label>{{ 'birthday' | translate }}</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birthDate" />
        <mat-error *ngIf="politicianForm.controls.birthDate.hasError('required')">{{
          'form-date' | translate
        }}</mat-error>
        <mat-error *ngIf="politicianForm.controls.birthDate.hasError('bellowMinimumAge')">{{
          'form-minimum-age' | translate
        }}</mat-error>
        <mat-hint>{{ 'year-format' | translate }}</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="multi-year"></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="span-12" appearance="outline">
        <mat-label>{{ 'politician-profileImageUrl' | translate }}</mat-label>
        <input matInput formControlName="imageUrl" />
        <mat-error *ngIf="politicianForm.controls.imageUrl.hasError('required')">{{
          'form-required' | translate
        }}</mat-error>
        <mat-error *ngIf="politicianForm.controls.imageUrl.hasError('pattern')">{{
          'form-bad-url-pattern' | translate
        }}</mat-error>
      </mat-form-field>
      <mat-form-field class="span-12" appearance="outline">
        <mat-label>{{ 'politician-twitterUrl' | translate }}</mat-label>
        <input matInput formControlName="twitterUrl" />
        <mat-error>{{ 'form-bad-url-pattern' | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field class="span-12" appearance="outline">
        <mat-label>{{ 'politician-instagramUrl' | translate }}</mat-label>
        <input matInput formControlName="instagramUrl" />
        <mat-error>{{ 'form-bad-url-pattern' | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field class="span-12" appearance="outline">
        <mat-label>{{ 'politician-facebookUrl' | translate }}</mat-label>
        <input matInput formControlName="facebookUrl" />
        <mat-error>{{ 'form-bad-url-pattern' | translate }}</mat-error>
      </mat-form-field>
      <div *ngIf="i > 0" class="span-12 delete-politician">
        <button
          [matTooltip]="'remove-politician' | translate"
          type="button"
          mat-fab
          color="warn"
          (click)="removePolitician(i)">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </ng-container>
    <div class="span-12 add-politician-container">
      <button
        [matTooltip]="'politician-add-next' | translate"
        type="button"
        mat-fab
        color="primary"
        (click)="addPolitician()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </ng-container>
  <div class="form-footer span-12">
    <button (click)="cancel()" type="button" mat-raised-button class="button-add">
      {{ 'back' | translate }}
    </button>
    <button type="submit" mat-raised-button color="primary" class="button-add">
      {{ party ? ('update' | translate) : ('create' | translate) }}
    </button>
  </div>
</form>
