.politician-number {
  font-size: 1.3rem;
  font-weight: bold;
}

.add-politician-container {
  display: flex;
  justify-content: center;
}

.delete-politician {
  display: flex;
  justify-content: center;
}
