@import '../../../../../styles/variables.scss';

.news_container {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: [center-start] repeat(3, minmax(20rem, 32rem)) [center-end];
  justify-content: center;
  gap: 3rem 2rem;

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: [center-start] repeat(2, minmax(20rem, 1fr)) [center-end];
  }

  @media only screen and (max-width: $bp-mobile) {
    grid-template-columns: [center-start] 1fr [center-end];
    gap: 2rem;
  }

  & app-news:nth-of-type(1) {
    grid-column: center-start / center-end;
  }
}

.news__actions {
  grid-column: center-start / center-end;
  justify-self: flex-end;
  margin-bottom: 2rem;
}
