@import '../../../../styles/variables.scss';

.party {
  height: 100%;
  grid-column: center-start / center-end;

  &__act {
    display: flex;
    margin-bottom: 2rem;
  }

  &__heading {
    font-size: 3rem;
    text-align: center;
    padding: 1rem 0 2rem 0;
    letter-spacing: 0.1rem;
    word-spacing: 0.5rem;
    text-transform: uppercase;

    @media only screen and (max-width: $bp-large) {
      line-height: 3.5rem;
    }
  }

  &__subheading {
    font-size: 2rem;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3rem;
    gap: 1.5rem;

    @media only screen and (max-width: $bp-mobile) {
      flex-direction: column;
      align-items: stretch;
    }

    &__search {
      align-self: center;
      mat-form-field {
        width: 100% !important;
      }
    }
  }

  .empty {
    grid-column: 2 / -1;

    @media only screen and (max-width: $bp-mobile) {
      grid-column: auto;
    }
  }
}

.politicians {
  grid-column: center-start / center-end;

  display: grid;
  padding-bottom: 2rem;
  grid-template-columns: repeat(3, minmax($card-width, 32rem));
  gap: 3rem;

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: [center-start] repeat(2, minmax(20rem, 1fr)) [center-end];
  }

  @media only screen and (max-width: $bp-mobile) {
    grid-template-columns: [center-start] 1fr [center-end];
    gap: 2rem;
  }
}

.no-result {
  font-size: 2rem;
  grid-column: 1 / -1;

  @media only screen and (max-width: $bp-small) {
    line-height: 4rem;
  }
}

.no-politician {
  grid-column: 1 / -1;

 display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}
