<section class="container">
  <ng-container *ngIf="politicalParty$ | async as party">
    <div class="party">
      <h1 class="party__heading"
        >{{ party.name }}
        <app-party-actions class="party__act__actions" [partyId]="party.id!"></app-party-actions>
      </h1>
      <div class="party__act">
        <div class="party__act__search">
          <button
            color="primary"
            (click)="toggleSearch()"
            [matTooltip]="'politician-search' | translate"
            mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>
          <div>
            <mat-form-field [@searchAnimation]="searchState" appearance="outline">
              <mat-label>{{ 'politician-search' | translate }}</mat-label>
              <input type="text" #partySearchInput matInput />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="politicians$ | async as politicians">
      <div class="politicians">
        <app-politician
          *ngFor="let politician of politicians | filterPoliticians : partySearchInput?.value ?? ''"
          [politician]="politician"></app-politician>
        <ng-container *ngIf="(politiciansCount | async) === 0 && politicians.length">
          <span class="no-result">{{ 'no-result' | translate }}</span>
        </ng-container>
        <div class="no-politician" *ngIf="(politiciansCount | async) === 0 && !politicians.length">
          <span class="no-result">{{ 'no-politicians' | translate }}</span>
          <button
            [routerLink]="['/political-party/detail', party.id, 'add-politician']"
            mat-raised-button
            color="primary"
            class="button-add">
            {{ 'politician-add' | translate }}
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </ng-container>
  </ng-container>
</section>
