  <div class="navbar">
    <app-navbar (toggleSidebar)="snav.toggle()"></app-navbar>
  </div>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav [opened]="mobileQuery.matches ? false : true"
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink=".">Kokosak</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
<!-- footer -->
