@import './styles/variables.scss';


*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 85%;

  @media only screen and (max-width: $bp-large) {
    font-size: 70%;
  }
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// fullscreen layout
app-content-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

app-sidenav {
  overflow: auto;
  flex-grow: 1;

  & > mat-sidenav-container.mat-drawer-container {
    height: 100%;
  }

  mat-sidenav .mat-list-base {
    width: $sidenav-width !important;
  }

  .mat-drawer {
    overflow-y: visible;
  }
}
// fullscreen layout

.container {
  display: grid;
  grid-template-columns: [full-start] 20rem [center-start] repeat(8, minmax(min-content, 1fr)) [center-end] 20rem [full-end];
  padding: 5rem 0;

  @media only screen and (max-width: $bp-xlarge) {
      grid-template-columns: [full-start] 10rem [center-start] repeat(8, minmax(min-content, 1fr)) [center-end] 10rem [full-end];
  }

  @media only screen and (max-width: $bp-small) {
      grid-template-columns: [center-start] repeat(8, minmax(min-content, 1fr)) [center-end];
      padding: 2rem 3rem;
  }

  @media only screen and (max-width: $bp-mobile) {
      grid-template-columns: [center-start] repeat(8, minmax(min-content, 1fr)) [center-end];
      padding: 2rem 3rem;
  }

  &__content {
    grid-column: center-start / center-end;
  }
}

.errorNotification {
  background-color: red;
  color: #fff;
}

.successNotification {
  background-color: rgb(29, 141, 29);
  color: #fff;
}

.mat-simple-snackbar-action {
  color: #fff;
}

.mat-snack-bar-container {
  max-width: 90vw !important;
}

.mat-button-focus-overlay { background-color: transparent !important; }// fix for button that is opening sidenav being focued after closing sidenav
