@import './styles/variables.scss';


*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 85%;

  @media only screen and (max-width: $bp-large) {
    font-size: 70%;
  }
}
body { margin: 0; }

// fullscreen layout
app-content-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

app-sidenav {
  overflow: auto;
  flex-grow: 1;

  & > mat-sidenav-container.mat-drawer-container {
    height: 100%;
  }

  mat-sidenav .mat-mdc-list-base {
    width: $sidenav-width !important;
  }

  .mat-drawer {
    overflow-y: visible;
  }
}
// fullscreen layout

.container {
  display: grid;
  grid-template-columns: [full-start] 20rem [center-start] repeat(8, minmax(min-content, 1fr)) [center-end] 20rem [full-end];
  padding: 5rem 0;

  @media only screen and (max-width: $bp-xlarge) {
      grid-template-columns: [full-start] 10rem [center-start] repeat(8, minmax(min-content, 1fr)) [center-end] 10rem [full-end];
  }

  @media only screen and (max-width: $bp-small) {
      grid-template-columns: [center-start] repeat(8, minmax(min-content, 1fr)) [center-end];
      padding: 2rem 3rem;
  }

  @media only screen and (max-width: $bp-mobile) {
      grid-template-columns: [center-start] repeat(8, minmax(min-content, 1fr)) [center-end];
      padding: 2rem 3rem;
  }

  &__content {
    grid-column: center-start / center-end;
  }
}

.errorNotification {
  --mdc-snackbar-container-color: rgb(240, 43, 43);
  --mat-mdc-snack-bar-button-color: #fff;
}

.successNotification {
  --mdc-snackbar-container-color: #187c2c;
  --mat-mdc-snack-bar-button-color: #fff;
}

.form-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
  background-color: #fff;
  padding: 3rem 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.form-footer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.span {
  &-1 {
    grid-column: span 1;
  }

  &-2 {
    grid-column: span 2;
  }

  &-4 {
    grid-column: span 4;
  }

  &-6 {
    grid-column: span 6;
  }

  &-8 {
    grid-column: span 8;
  }

  &-12 {
    grid-column: span 12;
  }
}
