@import './styles/variables.scss';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// fullscreen layout
app-content-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

app-sidenav {
  overflow: auto;
  flex-grow: 1;

  & > mat-sidenav-container.mat-drawer-container {
    height: 100%;
  }

  mat-sidenav {
    min-width: $sidenav-width;
  }
}
// fullscreen layout

.errorNotification {
  background-color: red;
  color: #fff;
}

.successNotification {
  background-color: rgb(29, 141, 29);
  color: #fff;
}

.mat-simple-snackbar-action {
  color: #fff;
}

.mat-snack-bar-container {
  max-width: 90vw !important;
}
