@import '../../../styles/variables.scss';

.navbar {
  display: flex;
  justify-content: space-between;

  &__politi {
    text-decoration: none;
    color: #fff;
    transition: all 0.25s;

    &:hover {
      color: rgb(225, 220, 220);
    }
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__mid {
    display: flex;
    align-self: stretch;
    flex: 1 1 auto;
    justify-content: flex-end;

    @media only screen and (max-width: $bp-medium) {
      justify-content: center;
    }
  }
}

.flag-container {
  display: flex;
  align-self: stretch;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
  margin: 0 0.5rem;
  .flag {
    width: 2rem;
    height: 100%;
    &--white {
      background-color: #fff;
    }

    &--blue {
      background-color: hsl(211, 76%, 28%);
    }

    &--red {
      background-color: #d71c19;
    }
  }
}

.menu {
  font-size: 1.3rem;

  mat-icon {
    scale: (1.5);
  }
}
