<mat-toolbar class="navbar" color="primary">
  <div class="navbar__left">
    <button
      (click)="toggleSidenav()"
      onclick="this.blur()"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="navbar__politi" routerLink="'/home'">Politi.cz</a>
  </div>
  <ng-container *ngIf="auth.isAuthenticated$ | async; else loginButton">
    <button class="menu" mat-button [matMenuTriggerFor]="menu">
      <ng-container *ngIf="auth.user$ | async as user">
        <span>{{ user.email }}</span>
      </ng-container>
      <mat-icon>account_circle</mat-icon>
    </button>
  </ng-container>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/admin">{{ 'menu-admin' | translate }}</button>
  <mat-divider></mat-divider>
  <ng-container *ngIf="auth.isAuthenticated$ | async">
    <button mat-menu-item (click)="logout()">{{ 'menu-logout' | translate }}</button>
  </ng-container>
</mat-menu>

<ng-template #loginButton>
  <button mat-flat-button (click)="login()">{{ 'menu-login' | translate }}</button>
</ng-template>
