<mat-toolbar class="navbar" color="primary">
  <div class="navbar__left">
    <button
      (click)="toggleSidenav()"
      onclick="this.blur()"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <button class="menu" mat-button [matMenuTriggerFor]="menu">
    <span>User-1</span>
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/admin">{{ 'menu-admin' | translate }}</button>
  <button [disabled]="true" mat-menu-item>{{ 'menu-settings' | translate }}</button>
  <button [disabled]="true" mat-menu-item>{{ 'menu-logout' | translate }}</button>
</mat-menu>
