<mat-toolbar color="primary">
  <button (click)="toggleSidebarHandler()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Politi.cz</span>
  <span class="spacer"></span>
  <div class="flag-container">
    <div class="flag flag--white"></div>
    <div class="flag flag--red"></div>
    <div class="flag flag--blue"></div>
  </div>
  <button mat-button [matMenuTriggerFor]="menu">
    Pepík
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>{{'menu-settings' | translate}}</button>
    <button mat-menu-item>{{'menu-logout' | translate}}</button>
  </mat-menu>
</mat-toolbar>
