<section class="container">
  <div class="container__content">
    <ng-container *ngIf="newsDetail$ | async as news">
      <div class="news">
        <div class="news__header__box">
          <h1 class="heading">{{ news.heading }}</h1>
          <p class="news__header__box__date">{{ news.publishDate | dateFormatter }}</p>
        </div>
        <div class="news__image">
          <img alt="news image" [src]="news.imageUrl" />
        </div>
        <div [innerHTML]="news.content" class="news__content"></div>
      </div>
    </ng-container>
  </div>
</section>
